@{
    ViewData["Title"] = "Features";
}
<!-- Features Başlangıcı -->
<section id="Features" class="pt-5">
    <div class="container">
        <div class="row mt-5">
            <div class="col-md-3 text-center">
                <div class="features">
                    <div class="feature-top">
                        <i class="fab fa-html5"></i>
                        <h4 class="mt-3">HTML5</h4>
                    </div>
                    <p class="text-muted">
                        <em>
                            Lorem Ipsum, dizgi ve baskı endüstrisinde kullanılan mıgır metinlerdir.
                        </em>
                    </p>
                </div>
            </div>
            <div class="col-md-3 text-center">
                <div class="features">
                    <div class="feature-top">
                        <i class="fab fa-angular"></i>
                        <h4 class="mt-3">ANGULAR</h4>
                    </div>
                    <p class="text-muted">
                        <em>
                            Lorem Ipsum, dizgi ve baskı endüstrisinde kullanılan mıgır metinlerdir.
                        </em>
                    </p>
                </div>
            </div>
            <div class="col-md-3 text-center">
                <div class="features">
                    <div class="feature-top">
                        <i class="fab fa-js"></i>
                        <h4 class="mt-3">JAVA SCRIPT</h4>
                    </div>
                    <p class="text-muted">
                        <em>
                            Lorem Ipsum, dizgi ve baskı endüstrisinde kullanılan mıgır metinlerdir.
                        </em>
                    </p>
                </div>
            </div>
            <div class="col-md-3 text-center">
                <div class="features">
                    <div class="feature-top">
                        <i class="fab fa-php"></i>
                        <h4 class="mt-3">PHP</h4>
                    </div>
                    <p class="text-muted">
                        <em>
                            Lorem Ipsum, dizgi ve baskı endüstrisinde kullanılan mıgır metinlerdir.
                        </em>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Features Sonu -->