@{
    ViewData["Title"] = "Header";
}
<!-- Header Başlangıcı -->
<header id="Header">
    <div class="overlay">
        <div class="container">
            <div class="row text-center hSection">
                <div class="col my-auto">
                    <h1 class="display-4">
                        <span>PROJE-1</span>Deneme Template
                    </h1>
                    <p class="text-muted">
                        <em>
                            Lorem Ipsum, dizgi ve baskı endüstrisinde kullanılan mıgır metinlerdir.
                        </em>
                    </p>
                    <button type="button" class="btn btn-outline-primary">Devamını Oku</button>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Header Sonu -->