/*
Ozzy Ozmen Celik

*/

/* Home & Features Section */

.navbar{ 

border-bottom: #1886C7 2px solid;
}
.navbar-brand{ 

    color:#1886C7 !important;
    font-size:25px;
}
.nav-link{ 

    color:white !important;
    text-transform:uppercase;
    transition: .5s;

}
.nav-link:hover{  

    color:#1886C7 !important;
}

#Header{

    background:url('../images/nv-bg.jpg') no-repeat center center fixed;
    background-size:cover;
    height: 100vh;
}

#Header .overlay{ 

    background-color: rgba(0, 0, 0, .7);

}

#Header .row{ 

    height: 100vh;
    
}

#Header h1{ 

    color:white;
}

#Header span{

    color:#1886C7 !important; 
}

.btn-outline-primary{

    cursor: pointer;
}


/* Features Kısmı */

#Features .fab{

    font-size: 40px;
}
.feature-top{

   
    transition: color .5s ease;
}
.feature-top:hover{ 

    color:#1886C7 ;
    cursor: pointer;
}

/* Hakkimizda Kısmı*/

#AboutUs h2{
    
    border-left: 6px solid #1886C7;
    padding-left:30px;
    color:#1886C7 ;
    cursor: pointer;
   
}

#AboutUs .col-md-6{ 
    
    display: inline;
}
#AboutUs .btn-outline-primary{
    position: absolute;
   
}
#AboutUs .p{

line-height: 20px;
}

/* Takım Kısmı */

#Team .card{  
    border: none;
    opacity: 0.5;
    cursor: pointer;
    transition: all 0.5s ease;

}
#Team .card:hover{

  opacity: 1;  
}
#Team .fab{

    font-size: 24;  
}

  /* Ne Yapıyoruz Kısmı */

  #WhatWeDo {
    
     background:url('../images/programming.jpg') no-repeat center center fixed;
     height: 40vh;
  }

  #WhatWeDo .far { 
    
    font-size: 60px;

 }

 #WhatWeDo h2 { 
    
    color:#1886C7 !important;
    text-transform:uppercase;
    font-weight: bold;
    transition: .5s;

 }
 #WhatWeDo .p { 
    line-height: 20px;
    color:#1886C7 !important;
}

 #PlayModal h4 { 
    
    color:#1886C7 !important;
    text-transform:uppercase;

 }
 #PlayModal .i { 
    
    border: none;

 }

 /* Hizmetlerimiz Kısmı*/

 #Services{ 
    
  
    background-color: #f4f5f9;
  
    line-height: 28px;
}
.yazidivi { 
    
    background-color: #fff;
    margin-top: 20px;
   /* margin-right: -40px;*/   
    z-index:100;
    padding: 40px;
    position: relative;
    min-height: 40px;
   
   
}
#Services .p{

    text-align: center;
}

#Services h2{ 
    
    font-size: 18px;
    margin-top: 40px;
    margin-bottom: 40px;
    color:#1886C7 ;
    cursor: pointer;
    transition: all 0.5s ease;
}
 .hizmetresim{
    
    margin-left: -40px;

 }
 
 /* Referanslar Kısmı */

 #References .col-md-3{ 

    padding-left: 0;
    padding-right: 0;
    text-align: center;

 }
 #References h4{ 

   font-size: 16px;
   font-weight: 300;

 }
 #References .fas{

    font-size: 24px;
    margin-bottom: 20px;

 }
 #References .p{ 

   font-size: 14px;
   font-weight: 300;

 }

 .imageContainer{

    position: relative;
    cursor: pointer;
 }

 .imageOverlay{
  
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #1886C7;
    opacity: 0;
    transition: 1s ease;

 }

 .imageContainer:hover .imageOverlay{
   
    opacity: .7;

 }
 .imagetext{

    color:white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
 }

 /* Yorumlar Kısmı */

 #Reviews {
    background: linear-gradient(
     rgba(0, 0,0, .7),
     rgba(0, 0,0, .7)
    ),
     url('../images/yorumlar.jpg') no-repeat center center fixed;
    background-size: cover;
    position: relative;
  
 }

.yorumlar{
    
    color:rgba(24, 134, 199, .6);
}

.carousel-item img{
 
    opacity: .5;

}

.blockquote-footer{
    color: #1886C7;
}

 /* İletişim Kısmı */

 #Contacts{

    background-color: #f4f5f9;

 }
 #Contacts h2{

   color: #1886C7;

 }

 #Contacts h3{

    color: #1886C7;
 }

#Contacts .input-group-text{

    border-radius: 0;
    color: white;
    background-color: #1886C7;
}

#footer{

     color:white !important;
     background-color:#343A40 !important;
     
}
#footer .col-md-6{

    color:white !important;
    background-color:#343A40 !important;
    
}
